doctype html
html
  head
    meta(charset='utf-8')
    title Node/Express.js Template
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Node/Express.js Template
    nav
      ul
        li: a(href='/') Home

    block content

    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash.min.js')
    script(src='/js/vendor/moment.min.js')
    script(src='/js/user/main.js')

    block scripts

